body:not(.template-slider) #Header {
    min-height: 0px;
}
#Content {
    width: 100%;
    padding-top: 0px;
}
.zoom_box .desc {
	background: rrgba(21,56,70,0.90) !important;
}
.column_zoom_box {
    margin: 0 1% 0px;
}
.zoom_box_custom .desc_txt a {
	text-decoration: none !important;
	color: #fff;
}
.zoom_box_custom .desc_txt a:hover {
	color: #fff;
}
.small_title {
	font-size: 20px;
	font-weight: 300;
}
.big_title {
	font-weight: 600;
    font-size: 40px;
    margin: 15px 0px;
}
.see_more_button {
    font-size: 14px;
    padding: 0px 45px;
    border: 1px solid #8df92d;
    display: inline-block;
    margin-top: 11px;
    color: #8df92d;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.see_more_button:hover {
	background-color: #8df92d;
	color: #000;
	transition: background-color 0.3s ease;
}
a.see_more_button {
	text-decoration: none;
	font-size: 14px;
	padding: 4px 16px;
}
.slogan {
    font-size: 26px;
    color: #fff;
}
.work_section_head {
    color: #092e3d;
    font-weight: 100;
    font-size: 35px;
    margin: 0px;
}
#Footer a {
	text-decoration: none;
}
.extraordinary {
    margin: 0px 39px;
}
#overlay-menu ul li a:hover {
    color: #ffffff;
    opacity: 1;
}
#overlay-menu ul li a:hover:before, #overlay-menu ul li a:hover:after, #overlay-menu ul li a:hover:before, #overlay-menu ul li a:hover:after {
    opacity: 0;
}
#overlay-menu ul li a {
    font-weight: 700;
    line-height: 0px;
}
#Top_bar #logo {
    height: 45px;
}
.case_study_heading {
    margin: 35px 0px;
    width: 100% !important;
}
#menu-item-48 {
    position: absolute;
    left: 0;
}
#menu-item-14 {
    position: absolute;
    right: 0;
}
#menu-item-14 a {
    font-size: 55px !important;
}
#menu-item-48 a {
    font-size: 55px !important;
}
.case_study_wrap {
    max-width: 1030px;
    float: none;
    margin: auto;
    background: #ffffff;
}
.extraordinary {
    margin: 0px;
}
.extraordinary_wrap {
    max-width: 1030px !important;
    float: none;
    margin: auto;
}
.extraordinary_text {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #153846;
    margin-bottom: 0px !important;
}
.footer_logo_wrap {
    padding: 35px 0px;
    margin: 0px !important;
}
.span_text {
    width: 290px !important;
    display: inline-block;
    padding: 10px 8px !important;
    text-align: left;
    text-overflow: clip;
    white-space: nowrap;
    font-weight: 600;
}
span#js-rotating span {
    font-weight: 700;
}
.marijuana {
    margin: 0px;
    position: absolute;
    right: 0;
}
.header-overlay.ab-hide #Top_bar {
   top: 13px !important;
}
.header-overlay #Top_bar.is-sticky {
    display: block !important;
    background-color: #092e3d;
    opacity: 1;
    top: 0px !important;
}
.header-overlay .overlay-menu-toggle {
   top: 8px;
}
#Top_bar .logo {
    margin-left: 10px;
    position: fixed;
    left: 35px;
}
#Top_bar.is-sticky .logo {
    margin-left: 0px !important;
}
#Top_bar #logo img {
    max-height: 45px;
}
#Top_bar #logo, .header-fixed #Top_bar #logo, .header-plain #Top_bar #logo, .header-transparent #Top_bar #logo {
   height: 45px !important;
   line-height: 45px !important;
   padding: 0px 0 !important;
}
.contact_us_heading h2 {
    color: #092e3d;
    font-weight: 700;
    font-size: 40px;
}
.contact_us_text h2 {
    color: #424242;
    font-weight: 100;
    font-size: 29px;
}
.contact_us_text {
    margin: 0;
    padding: 80px 0px;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    border-color: transparent;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0);
}
span.wpcf7-form-control-wrap {
    border-bottom: 1px solid #9a9a9a;
    margin-bottom: 30px;
}
input.wpcf7-form-control.wpcf7-submit {
    margin: 25px 0px !important;
    overflow: auto;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #424242;
    border-radius: 0px;
    padding: 10px 20px;
}
.green_text {
    padding: 66px 70px 65px 75px;
}
.green_text h4 {
    font-size: 18px;
    font-weight: 700;
}
.careers_content_text {
    background: #8df92d;
    margin-right: 0;
    padding-right: 20px;
    margin-bottom: 0px;
}
.careers_content_text h2 {
    font-size: 29px;
    font-weight: 700;
    color: #0c2b40;
}
.careers_content_text h5 {
    color: #092e3d;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
}
.careers_content_text a {
    color: #0c2b40;
    font-size: 16px;
}
.see_our_work h2 {
    color: #424242;
    font-weight: 100;
    font-size: 29px;
    margin: 0;
}
.see_our_work {
    margin: 0;
    padding: 25px 0px;
}
.rasselay_logo {
    width: 120px;
}
.design_span {
    background: #799e2a;
    color: #ffffff;
    font-weight: 500;
    padding: 1px 10px;
    display: block;
    width: 250px;
}
.case_study_banner {
    padding: 0px 90px;
    margin-left: 0px;
}
.case_study_banner h2 {
    color: #ffffff;
    font-size: 35px;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}
.main_case_study {
    max-width: 1030px;
    float: none;
    margin: auto;
}
.do_mice_case_study {
    padding: 0px 90px;
    margin-left: 0px;
}
.do_mice_case_study h2 {
    color: #282828;
    font-size: 35px;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}
.do_mice_design_span {
    background: #1ba6fe;
    color: #ffffff;
    font-weight: 700;
    padding: 1px 10px;
    display: table;
    letter-spacing: 1px;
}
.fresh_drive {
    margin: 0;
}
.fresh_drive_text {
    padding: 0px 90px;
}
.fresh_drive_text h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}
.fresh_drive_text p {
    font-size: 14px;
}
.page_name h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 300;
}
.title_name h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
}
.image_case_study {
    margin-bottom: 0px;
}
.slider_case_study {
    margin-bottom: 0px;
}
.carousel {
    padding-bottom: 0px !important;
}
.coming_soon {
    margin: 0px !important;
}
.coming_soon img {
    width: 100%;
    position: fixed !important;
    left: 0;
    right: 0;
}
.coming_soon > .section_wrapper.mcb-section-inner {
    margin: 0px !important;
}
.menu_text {
    position: absolute;
    right: 45px;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
img.logo-main.scale-with-grid {
    margin-top: -12px;
    max-height: 45px !important;
}
img.logo-sticky.scale-with-grid {
    margin-left: 10px;
    max-height: 45px !important;
}
.zoom_box_custom {
    width: 50% !important;
    margin: 0px !important;
}
.zoombox_custom_fullcover {
    width: 100% !important;
    margin: 0px !important;
}
.case_study_zoombox {
    margin-bottom: 5px;
}
.social_header .social a {
    color: #7c7c7c;
    display: inline-block;
    float: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.social_header .social a:hover {
    color: #ffffff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.social_header ul li {
    display: inline;
}
.social_header .social a i {
    font-size: 18px;
}
.social_header {
    position: absolute;
    width: 100%;
    bottom: 50px;
    text-align: center;
}
.logo_header img.logo-main.scale-with-grid {
    margin-top: 8px;
    margin-left: 45px;
}
textarea.wpcf7-form-control.wpcf7-textarea {
    border-color: transparent;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0);
    height: 10px;
}
.bx-wrapper {
    margin-bottom: 0px;
}
.slider_thumbnail {
    margin-bottom: 0px;
}
.bx-wrapper .bx-prev {
    left: -40px;
}
.bx-wrapper .bx-next {
    right: -40px;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    background: #8df92d !important;
    color: #092e3d;
    margin: 0px !important;
}
.email_logo {

}
.header-overlay.sticky-header .overlay-menu-toggle {
    margin-right: 5px;
}
.clap {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.bx-wrapper img {
    border-radius: 0px;
}
@media only screen and (max-width: 1240px) {
    .zoom_box_custom {
        width: 50% !important;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .zoombox_custom_fullcover {
        width: 100% !important;
        margin: 0px !important;
    }
}
@media only screen and (max-width: 767px) {
      body:not(.template-slider):not(.header-simple) #Header {
         min-height: 0px;
      }
      .header-overlay #Top_bar.is-sticky {
        display: block !important;
        background-color: #092e3d;
        opacity: 1;
        top: 0px !important;
    }
    .do_mice_case_study {
        padding: 0px 10px;
    }
    .case_study_banner {
        padding: 0px 10px;
    }
    #Top_bar .top_bar_left {
         margin-top: 0px;
     }
     .work_section_head {
        line-height: 35px;
        margin-top: 15px;
        font-size: 16px;
        font-weight: 500;
     }
     .small_title {
        line-height: 25px;
     }
     .big_title {
        line-height: 40px;
        font-size: 32px;
     }
     .see_more_button {
        font-size: 16px;
        padding: 10px 45px;
     }
     .slogan {
        line-height: 30px;
        font-size: 20px;
     }
     .title_wedo {
        font-size: 26px;
     }
     .span_text {
        width: 180px !important;
        padding: 5px 8px !important;
    }
     .do_mice_case_study h2 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 25px;
    }
    .case_study_banner h2 {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 25px;
    }
    .fresh_drive {
        margin-bottom: 0px !important;
    }
    .fresh_drive_text {
        padding: 0px 10px;
    }
    .case_study_wrap {
        padding: 20px 0px !important;
    }
    .contact_us_heading h2 {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 0px;
    }
    .contact_us_text h2 {
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 5px;
    }
    .see_our_work {
        margin: 0px !important;
    }
    .green_text {
        padding: 18px 10px;
        background: #8df92d;
    }
    .careers_content_text {
        background: transparent;
        margin: 0px !important;
    }
    .careers_content_text h2 {
        font-size: 26px;
    }
    .careers_content_text h5 {
        font-size: 14px;
    }
    .contact_us {
        width: 90% !important;
        float: none;
        margin: 0 auto !important;
    }
    .zoom_box_custom {
        margin-bottom: 0px !important;
        width: 100% !important;
    }
    #menu-item-48 {
        position: relative;
        margin-bottom: 20px;
    }
    #menu-item-14 {
        position: relative;
    }
    #menu-item-14 a {
        font-size: 28px !important;
    }
    #menu-item-48 a {
        font-size: 28px !important;
    }
    #Top_bar, #Action_bar {
        background: #23415b !important;
        position: fixed;
    }
    .header-overlay.ab-hide #Top_bar {
        top: 0px !important;
    }
    #Top_bar .logo {
        position: relative;
        left: 0px;
        margin-left: 0px;
    }
    #Top_bar .logo #logo {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .logo_header img.logo-main.scale-with-grid {
        margin-top: 5px;
        margin-left: 18px;
    }
    #Top_bar #logo img {
        position: absolute;
        left: -15px;
    }
    .header-overlay .overlay-menu-toggle {
        top: 5px;
    }
    .menu_text {
        display: none;
    }
    .bx-viewport {
        padding: 0px !important;
        float: none;
        margin: 0 auto;
        position: initial !important;
    }
    .bx-wrapper .bx-prev {
        display: none;
    }
    .bx-wrapper .bx-next {
        display: none;
    }
    .extraordinary_text {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .do_mice_design_span {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 480px) {
    #Top_bar #logo img {
        max-height: 35px !important;
        top: 5px !important;
    }
    .logo_header img.logo-main.scale-with-grid {
        margin-top: 10px !important;
        margin-left: 18px !important;
        max-height: 35px !important;
    }
    .do_mice_design_span {
        font-size: 7px;
    }
}